#sidebar {
    margin: 0;
    display: inline-flex;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #0E0E11;
    color: #9D9EAF;
    padding: 10px;
    font-size: 1rem;
}

#sidebarList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#title {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-family: serif;
    font-size: 1.4rem;
    color: #d8d8df;
}

.label {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.75rem;
    padding: 0 10px;
    cursor: pointer;
}

.optionContainer {
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 40px; 
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.optionContainer:hover {
    background-color: #292A32;
}

#profileIcon {
    margin-right: 10px;
}

.optionIcon {
    margin: 0 10px 0 0;
    filter: brightness(0) invert(92%) sepia(9%) saturate(115%) hue-rotate(202deg) brightness(95%) contrast(89%); 
}

.option {
    display: flex;
    align-items: center;
    color: #d8d8df;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

#bottomElements {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px 10px;
    width: 100%;
}

#divider {
    height: 1px;
    width: 100%;
    background-color: #292a32;
    margin-bottom: 10px;
}

#profileMenu {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: #d8d8df;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s;
}

#profileMenu:hover {
    background-color: #292A32;
}

#profileEmail {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

#profileMenuButton {
    margin: 0 0 0 10px;
}

#popup {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: calc(100% - 20px);
    display: absolute;
    z-index: 2;
    padding: 0 10px;
    color: #d8d8df;
    border-radius: 10px;
    cursor: pointer;
}

#popupSignout {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

@media screen and (min-width: 1921px) {
    #title {
        font-size: 1.167vw;
        height: 4vw;
        padding: 0 0.5vw;
    }
    .label {
        font-size: 0.625vw;
        height: 2vw;
        padding: 0 0.5vw;
    }
    .optionContainer {
        height: 2vw;
        padding: 0 0.5vw;
    }
    #profileIcon {
        height: 0.8vw;
        width: 0.8vw;
        margin-right: 0.5vw;
    }
    .optionIcon {
        height: 0.8vw;
        width: 0.8vw;
        margin-right: 0.5vw;
    }
    #sidebar {
        font-size: 1vw;
        padding: 0.5vw;
    }
    #profileMenu {
        height: 2vw;
        padding: 0 0.5vw;
    }
    #popup {
        bottom: calc(10px + 2vw);
        padding: 0 0.5vw;
    }
    #popupSignout {
        height: 2vw;
    }
    #profileMenuButton {
        margin: 0 0 0 0.5vw;
    }
    #bottomElements {
        padding: 0 0.5vw 0.5vw 0.5vw;
    }
    #divider {
        margin-bottom: 0.5vw;
    }
}

@media screen and (max-width: 1150px) {
    #sidebar {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1023px) {
    #sidebar {
        display: none;
    }
}
